= "#{@user.name}様\r"
= "アカウントが有効化されました。\r"
= "下記のリンクをクリックしてログインして下さい。\r"
= "===================================="
= "#{@url}\r"  
= "====================================\r"
= "今後共宜しくお願い致します。\r"
= "このメールに心当たりが無い場合は削除して下さい。\r"
