= "#{@user.name}様\r"
= "SimpleNoSmokingへようこそ！\r"
= "下記のリンクをクリックしてアカウントを有効化して下さい。\r"
= "====================================\r"
= "#{@url}\r"   
= "====================================\r"
= "今後共宜しくお願い致します。\r"
= "このメールに心当たりが無い場合は削除して下さい。"
