= "#{@user.name}様\r"
= "日頃よりご利用頂きありがとうございます。\r"
= "パスワードリセット申請を受け付けました。\r"
= "下記のリンクをクリックしてパスワードを変更して下さい。\r"
= "====================================\r"
= "#{@url}\r" 
= "====================================\r"
  
= "今後共宜しくお願い致します。\r"
= "このメールに心当たりが無い場合は削除して下さい。\r"
