= "以下の通り返信しました\r"
= "#{@contact.name}\r"
= "日頃よりご利用頂きありがとうございます\r"
= "お問い合わせの回答になります\r"
= "==============================================\r"
= "#{@contact.answers.last.content}\r"
= "==============================================\r"
= "お名前:#{@contact.name}\r"
= "お問い合わせ内容:\r"
= "#{@contact.content}\r"
= "==============================================\r"
= "ご利用頂きありがとうございます。"
= "今後共宜しくお願いします\r"
