= "お問い合わせありがとうございます\r"
= "お問い合わせ受け付けました\r"
= "==============================================\r"
= "お名前:#{@contact.name}\r"
= "返信先メールアドレス: #{@contact.email}\r"
= "登録状況:#{@contact.mode_i18n}\r"
= "お問い合わせ内容: #{@contact.content}\r"
= "==============================================\r"
= "3日以内の返信を心掛けております\r"
= "優しく待って頂けると幸いです\r"
= "今後共宜しくお願いします\r"
