= "お問い合わせを受け付けました\r"
= "==============================================\r"

= "お名前:#{@contact.name}\r"
= "返信先メールアドレス: #{@contact.email}\r"
= "登録状況: #{@contact.mode_i18n}\r"
= "お問い合わせ内容: #{@contact.content}"