h3.no_smoking_title 禁煙時間
h2.no_smoking_section
  p = no_smoking_time
  
h3.no_smoking_title 得した金額
h2.no_smoking_section
  p = "#{amount_of_money_earned}円"
  
h3.no_smoking_title 我慢した本数
h2.no_smoking_section
  p = "#{patience_number}本"
  
h3.no_smoking_title 浮いた時間 
h6 1本５分計算
h2.no_smoking_section
  p = "#{gained_time}分"
  
h3.no_smoking_title 我慢したタバコの長さ 
h6 1本５cm計算
h2.no_smoking_section
  p = "#{gained_time}cm"
  
h3.no_smoking_title 今から８０歳まで吸って失う時間
h2.no_smoking_section
  p = "#{lost_time_80.to_s(:delimited)}時間"
  
h3.no_smoking_title 今から８０歳まで吸って金額
h2.no_smoking_section
  p = "#{lost_money_80.to_s(:delimited)}円"
h3.no_smoking_title 今吸ってしまったら失う時給
h2.no_smoking_section
  p = "#{lost_hours_money_80.to_s(:delimited)}円"

    
.mode_select_contain
= button_to 'プロフィールを編集する',edit_user_no_smoking_user_profile_path(@user.id),{method: :get, class:'no_smoking_button'} 
