@import "bootstrap";
@import "font-awesome";
@import "index";

.fa{
  color: #00acee;
}

.under-ns{
  border-bottom: solid 1px $dark-no-smoking-color;
  margin-top: 25px
}

.under-re{
  border-bottom: solid 1px $reduction-color;
  margin-top: 25px
}

// フラッシュメッセージ
.alert-nsmysuccess{
  @include my-flash ;
  border: 3px solid $dark-no-smoking-color;
  background-color:$no-smoking-color;
  color: #fff;
}


.alert-nsmyalert{
  @include my-flash ;
  border: 3px solid $dark-no-smoking-color;
  background-color:$no-smoking-color;
  color: rgb(233, 103, 103);
}

.alert-nsmyalert-mini{
  @include my-flash ;
  border: 3px solid $dark-no-smoking-color;
  background-color:$no-smoking-color;
  color: rgb(233, 103, 103);
  font-size: 12px;
  text-align: center;
}
  
.alert-remyalert-mini{
  @include my-flash ;
  border: 3px solid $dark-reduction-color;
  background-color:$reduction-color;
  color: red;
  font-size: 12px;
  text-align: center;
}

.alert-remysuccess{
  @include my-flash ;
  border: 3px solid $dark-reduction-color;
  background-color:$reduction-color;
  color: #fff;
}


.alert-remyalert{
  @include my-flash ;
  border: 3px solid $dark-reduction-color;
  background-color:$reduction-color;
  color: red;
}
  

// バックグランド設定
.container.no-smoking{
  @include base-background;
  border: 3px solid  $no-smoking-color;
}

.container.reduction{
  @include base-background;
  border: 3px solid  $reduction-color;
}

.form-control{
border: 2px solid $no-smoking-color;
}

.reduction{
border: 2px solid $reduction-color;
}

.form-control-ns-inline{
  @include my-form-control;  
  border: 2px solid $no-smoking-color;
}

.use_term{
  background-color: #FFF;
  border-radius: 8px;
  border: solid 1px $no-smoking-color;
}

.use_term:hover{
  opacity: .8;
}

.form-control-re-inline{
  @include my-form-control;  
  border: 2px solid $reduction-color;
}


.no-smoking-updown{
  text-shadow:0 3px 5px $no-smoking-color
}

.reduction-updown{
  text-shadow:0 3px 5px $reduction-color
}

.text-contact{
  padding-bottom: 30px;
  width: 280px;
  margin: auto;
  text-align: right;
}

.contact-form{
  color: $dark-no-smoking-color;
  &:hover{
    color: $no-smoking-color;
  }
}

.contact-container{
  width: 250px;
  margin: auto;
  text-align: left;
}

.contact-contain{
  margin-bottom: 10px;
  border-bottom: solid 2px white;
}

.mode-select-contain{
  margin-top: 30px;
  width: 250px;
  margin: auto;
  
  .mode-description{
    margin-top: 10px;
    margin-bottom: 50px;
    li {
      text-align: left;
      font-size: 10px;
      margin-top: 9px;
    }
  }
}
    
.no-smoking-button{
  @include mode-select-button;
  background: #3FAD88;
  border: 2px solid green;
}

.reduction-button{
  @include mode-select-button;
  background: #E2992A;
  border: 2px solid #F89703;
}

.cp-link {
  @include slide-button;
  &:hover {
    background-color: $dark-no-smoking-color;
  }
}

.cp-link-new {
  color: #3FAD88;
  &:hover{
    color: $no-smoking-color
  }
}

.cp-link-reduction {
  @include slide-button;
  &:hover {
    background-color: $reduction-color;
  }
}

.button-frex{
  display:  inline-block;
  font-size: 20px;
}

.button-frex-end{
  display: inline-flex;
}

// ---------テーブルデザイン----------------
table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
  margin-bottom: 10px;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid $reduction-color;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient($reduction-color,$reduction-color);
  border-left: 3px solid $reduction-color;
  border-top: 3px solid $reduction-color;
  border-bottom: 3px solid $reduction-color;
  box-shadow: 0px 1px 1px $dark-reduction-color inset;
  width: 10%;
  padding: 10px 0;
  font-size: 25px;
}

table th.ns{
  @include my-th;
  background: linear-gradient($dark-no-smoking-color,$dark-no-smoking-color);
  border: 1px solid $no-smoking-color;
}

table th.re{
  @include my-th;
  background: linear-gradient($reduction-color,$reduction-color);
  border: 1px solid $reduction-color;
}

table td.ns{
  @include my-td;
  border: 1px solid $no-smoking-color;
}

table td.re{
  @include my-td;
  border: 1px solid $reduction-color;
}


table td{
  text-align: center;
  border-left: 3px solid $reduction-color;
  border-bottom: 3px solid $reduction-color;
  border-top:none;
  box-shadow: 0px -3px 5px 1px $dark-reduction-color inset;
  width: 10%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid $reduction-color;
}

table td.ns:last-child{
  border-right: 1px solid $no-smoking-color;
}

// kaminariのデザイン

.pagination>li>a {     
  margin-top: 10px;   
  background-color: $reduction-color;     /*枠線をなくす*/
  color: #fff; 
  border: 1px solid $dark-reduction-color;
  font-size: 10px;
}

.pagination{
  justify-content: center;
  .myactive{
    a{
       background-color: $dark-reduction-color
    }
  } 
}

.modal-title-reduction{
  color: $reduction-color;
  padding: 0;
}

.modal-title-no-smoking{
  color: $no-smoking-color;
  padding: 0;
}
.modal-content{
  background-color: $base_color;
}

.modal-reduction{
  border: 3px solid $reduction-color;
}

.modal-no-smoking{
  border: 3px solid $no-smoking-color;
}

.my-check{
  cursor: pointer;
  user-select: none;
}

.small-text{
  margin-left: 10px;
  font-size: 20px;
}

.small-font{
  font-size: 5px;
}

.logo{
  margin-bottom: 0;
}


// プロフィール設定
.section-logo{
  margin-right: 10px;
  width:  75px;
  height: 75px;
}

.conte-no-smoking{
  @include my-conte;
  border-bottom:solid 2px $no-smoking-color;
}

.conte-reduction{
  @include my-conte;
  border-bottom:solid 2px $reduction-color;
}


.section-title{
  font-size: 25px;
  text-align: left;
}

.show-section{
  font-size: 30px;
  text-align: left;
}

.small-logo{
 width: 25px; 
 height: 25px; 
}

.btn-primary{
  background-color: $dark-no-smoking-color;
  font-size: 12px;
  border: solid 1px $dark-no-smoking-color;
  &:hover{
    background-color: $no-smoking-color;
    border: solid 1px $dark-no-smoking-color;
  }
}

.cp_ipcheck {
	width: 90%;
  margin: auto;
}


.cp_ipcheck label {
	line-height: 135%;
	position: relative;
	cursor: pointer;
}
.cp_ipcheck .move-check {
	position: relative;
	margin: 0 0.2rem 0 0;
	cursor: pointer;
}
.cp_ipcheck .move-check:before {
	position: absolute;
	z-index: 1;
	top:  0.125rem;
	left: 0.1875rem;
	width: 0.75rem;
	height: 0.375rem;
	content: '';
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	        transition:         transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	-webkit-transform: rotate(-45deg) scale(0, 0);
	        transform: rotate(-45deg) scale(0, 0);
	border: 2px solid $no-smoking-color;
	border-top-style: none;
	border-right-style: none;
}
.cp_ipcheck .move-check:checked:before {
	-webkit-transform: rotate(-45deg) scale(0.8, 0.8);
	        transform: rotate(-45deg) scale(0.8, 0.8);
}
.cp_ipcheck .move-check:after {
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 1rem;
	height: 1rem;
	content: '';
	cursor: pointer;
	border: 2px solid $dark-no-smoking-color;
	background: #ffffff;
}

@media screen and (max-width: 500px) {
  .conte-reduction{
    width: 280px;
    display: flex;
    margin: auto;
    margin-top: 15px;
    border-bottom:solid 2px $reduction-color;
  }
  
  .conte-no-smoking{
    width: 280px;
    display: flex;
    margin: auto;
    margin-top: 15px;
    border-bottom:solid 2px $no-smoking-color;
  }
  
	.section-logo{
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  
  .section-title{
    font-size: 12px;
    text-align: left;
  }
  
  .show-section{
    font-size: 17px;
    text-align: left;
  }
  
  //テーブルデザイン
  .small-logo{
    width: 15px; 
    height: 15px; 
   }
 
  table th.ns{
    @include media-my-th;
    background: linear-gradient($dark-no-smoking-color,$dark-no-smoking-color);
    border: 1px solid $no-smoking-color;
    
  }
  
  table th.re{
    @include media-my-th;
    background: linear-gradient($reduction-color,$reduction-color);
    border: 1px solid $reduction-color;
  }
    
  table td.ns{
    @include media-my-td;
    border: 1px solid $no-smoking-color;
  }
  
  table td.re{
    @include media-my-td;
    border: 1px solid $reduction-color;
  }
}
