@import "bootstrap";
@import "index";

.alert-nsmysuccess{
  @include my_flash ;
  border: 3px solid $dark-no-smoking-color;
  background-color:$no-smoking-color;
  color: #fff;
}


.alert-nsmyalert{
  @include my_flash ;
  border: 3px solid $dark-no-smoking-color;
  background-color:$no-smoking-color;
  color: rgb(233, 103, 103);
}

.alert-nsmyalert-mini{
  @include my_flash ;
  border: 3px solid $dark-no-smoking-color;
  background-color:$no-smoking-color;
  color: rgb(233, 103, 103);
  font-size: 12px;
  text-align: center;
}
  
.alert-remyalert-mini{
  @include my_flash ;
  border: 3px solid $dark-reduction-color;
  background-color:$reduction-color;
  color: red;
  font-size: 12px;
  text-align: center;
}

.alert-remysuccess{
  @include my_flash ;
  border: 3px solid $dark-reduction-color;
  background-color:$reduction-color;
  color: #fff;
}


.alert-remyalert{
  @include my_flash ;
  border: 3px solid $dark-reduction-color;
  background-color:$reduction-color;
  color: red;
}
  

.container.no_smoking{
  @include base_background;
  border: 3px solid  $no-smoking-color;
}

.container.reduction{
  @include base_background;
  border: 3px solid  $reduction-color;
}

.form-control{
border: 2px solid $no-smoking-color;
}

.form-control-ns-inline{
  border: 2px solid $no-smoking-color;
  padding: 2px 10px;
  border-radius: 5px;
  margin: 2px;
  
}

.form-control-re-inline{
  border: 2px solid $reduction-color;
  padding: 2px 10px;
  border-radius: 5px;
  margin: 2px;
}
  

.form-control.reduction{
border: 2px solid $reduction-color;
}

.form-group{
  margin-top: 40px;

}

.no_smoking_updown{
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow:0 3px 5px $no-smoking-color
}

.reduction_updown{
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow:0 3px 5px $reduction-color
}

.mode_select_contain{
  margin-top: 30px;
  width: 300px;
  margin: auto;
  
  .mode_descripton{
    margin-top: 10px;
    margin-bottom: 50px;
    li {
      font-size: 12px;
      text-align: left;
      margin-top: 9px;
    }
  }
}
    

.no_smoking_button{
  @include mode_select_button;
  background: #3FAD88;
  border: 2px solid green;
}

.reduction_button{
  @include mode_select_button;
  background: #E2992A;
  border: 2px solid #F89703;
}

.no_smoking_section{
  text-decoration: underline $no-smoking-color;
  margin-bottom: 40px;
}

.reduction_section{
  text-decoration: underline $reduction-color;
  margin-bottom: 40px;
}
  
.cp_link {
  @include slide_button;
  &:hover {
    background-color: $dark-no-smoking-color;
  }
}

.cp_link_reduction {
  @include slide_button;
  &:hover {
    background-color: $reduction-color;
  }
}


.button_frex{
  text-align: left;
}

.button_frex_end{
  display: inline-flex ;
}

// ---------テーブルデザイン----------------
table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid $reduction-color;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient($reduction-color,$reduction-color);
  border-left: 3px solid $reduction-color;
  border-top: 3px solid $reduction-color;
  border-bottom: 3px solid $reduction-color;
  box-shadow: 0px 1px 1px $dark-reduction-color inset;
  width: 10%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 3px solid $reduction-color;
  border-bottom: 3px solid $reduction-color;
  border-top:none;
  box-shadow: 0px -3px 5px 1px $dark-reduction-color inset;
  width: 10%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid $reduction-color;
}

// kaminariのデザイン

.pagination>li>a {     
  margin-top: 10px;   
  background-color: $reduction-color;     /*枠線をなくす*/
  color: #fff;   /*文字の色を変える*/
  border: 1px solid $dark-reduction-color;
}

.pagination{
  justify-content: center;
  .myactive{
    a{
       background-color: $dark-reduction-color
    }
  } 
}
