@import "bootstrap";
@import "index";

.alert-nsmysuccess{
  @include my_flash ;
  border: 2px solid $dark-no-smoking-color;
  background-color:$no-smoking-color;
  color: #fff;
}


.alert-nsmyalert{
  @include my_flash ;
  border: 2px solid $dark-no-smoking-color;
  background-color:$no-smoking-color;
  color: rgb(233, 103, 103);
}

.alert-remysuccess{
  @include my_flash ;
  border: 2px solid $dark-reducton-color;
  background-color:$reduciton-color;
  color: #fff;
}


.alert-remyalert{
  @include my_flash ;
  border: 2px solid $dark-reducton-color;
  background-color:$reduciton-color;
  color: rgb(233, 103, 103);
}
  

.container.no_smoking{
  @include base_background;
  border: 3px solid  $no-smoking-color;
}

.container.reduction{
  @include base_background;
  border: 3px solid  $reduciton-color;
}

.form-control{
border: 2px solid $no-smoking-color;
}

.form-control.reduction{
border: 2px solid $reduciton-color;
}

.form-group{
  margin-top: 40px;
}

.no_smoking_updown{
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow:0 3px 5px $no-smoking-color
}

.reduction_updown{
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow:0 3px 5px $reduciton-color
}

.mode_select_contain{
  margin-top: 30px;
  width: 300px;
  margin: auto;
  
  .mode_descripton{
    margin-top: 10px;
    margin-bottom: 50px;
    li {
      font-size: 12px;
      text-align: left;
      margin-top: 9px;
    }
  }
}
    

.no_smoking_button{
  @include mode_select_button;
  background: #3FAD88;
  border: 2px solid green;
}

.reduction_button{
  @include mode_select_button;
  background: #E2992A;
  border: 2px solid #F89703;
}

.no_smoking_section{
  text-decoration: underline $no-smoking-color;
  margin-bottom: 40px;
}

.reduction_section{
  text-decoration: underline $reduciton-color;
  margin-bottom: 40px;
}
  
.cp_link {
  @include slide_button;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(63, 173, 136) 50%);
}

.cp_link_reduction {
  @include slide_button;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(226, 153, 42) 50%);
}

  







.button_frex{
  display: inline-flex;
}

// ---------テーブルデザイン----------------
table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid $reduciton-color;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient($reduciton-color,$reduciton-color);
  border-left: 3px solid $dark-reducton-color;
  border-top: 3px solid $dark-reducton-color;
  border-bottom: 3px solid $dark-reducton-color;
  box-shadow: 0px 1px 1px rgb(255, 153, 0) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 3px solid $dark-reducton-color;
  border-bottom: 3px solid $dark-reducton-color;
  border-top:none;
  box-shadow: 0px -3px 5px 1px $reduciton-color inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid $reduciton-color;
}