$base_color: #252526;
$no-smoking-color: #0EF871;
$dark-no-smoking-color: #3FAD88;
$reduction-color: #f59607;
$dark-reduction-color:#583705;

@mixin mode-select-button{
  margin: 20px auto;
  padding: 5px 10px;
  display: inline-block;
  color: #FFF;
  font-size: 15px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  border-radius: 8px;
  transition: .4s;
  user-select: none;
  &:hover{
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
                 6px 0px 15px rgba(255, 255, 240, 0.83);
  }
}

@mixin base-background{
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: $base_color;
  color: white;
}

@mixin slide-button{
  padding: 0.1em 0.3em;
	background-color: $base_color;
	background-position: 0 0;
	background-size: 200% auto;
	transition: .1s;
	color: #fff;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
}

@mixin my-flash{
  width: 100%;
  padding: 0;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size:  15px;
  text-shadow:1px 0 2px $dark-reduction-color;
  ul{
    padding: 0;
    li{
      list-style: none;
    }
  }
}

@mixin my-form-control{
  padding: 2px 10px;
  border-radius: 5px;
  margin: 2px;
}

@mixin my-th{
  text-align: left;
  color:#fff;
  width: 3%;
  padding-left: 10px;
  font-size: 15px;
}

@mixin my-td{
  text-align: left;
  width: 10%;
  padding-left: 10px;
  font-size: 15px;
}

@mixin my-conte{
  width: 500px;
  display: flex;
  margin: auto;
  margin-top: 15px;
}

// レスポンシブ対応
@mixin media-my-th{
  text-align: left;
  color:#fff;
  width: 3%;
  padding-left: 5px;
  font-size: 10px;
}

@mixin media-my-td{
  text-align: left;
  width: 10%;
  padding-left: 5px;
  font-size: 10px;
}